:root {
  --main-color: #444;
  --background-color: #111;
  --text-color: #EEE;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--text-color)
}

html {
  background-color: var(--background-color);
}

.flex-container {
	display: flex;
}

/* ----Header---- */
Header {
	width: 100%;
	height: 80px;
	background-color: var(--main-color);
  justify-content: space-between;
  border-bottom: 3px dashed var(--text-color);
}

.logo h1{
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}

.logo img{
  width: 80px;
  margin-right: 20px;
}

nav {
  height: fit-content;
  margin: auto 0;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  
}
nav li a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

nav li a:hover {
  border: 3px dashed var(--text-color);
}

.login {
  margin-right: 25px;
  width: 80px;
  height: 30px;
  margin: auto 0;
  margin-right: 20px;
}

.login button {
  width: 80px;
  height: 30px;
  margin: auto;
  background-color: var(--background-color);
}

.login button:hover {
  border: 3px dashed var(--text-color);
  cursor: pointer;
}

/* ----Banner---- */
.banner {
	width: 100%;
	height: 200px;
	margin: 25px 0;
	background-color: var(--main-color);
  justify-content: center;
  border-top: 3px dashed var(--text-color);
  border-bottom: 3px dashed var(--text-color);
}

.banner-img {
  object-position: center;
  object-fit: cover;
  width: 1900px;
}

/* ----Option boxes---- */
.options {
	width: 90%;
	height: 400px;
	margin: 25px auto;
	background-color: var(--main-color);
}

/* ----Panels---- */
.panels {
	width: 90%;
	height: 400px;
	margin: 25px auto;
	background-color: var(--main-color);
}

/* ----Footer---- */
footer {
	width: 100%;
	height: 80px;
	background-color: var(--main-color);
}
